body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.parent{
    height: 800px;
    width: 400px;
    border: 2px solid bisque;
    background-color: rgb(26, 26, 26);
}

.logo{
    width: 200px;
}